<div class="slantedDivA">
  <div class="head text-white">
    <button
      class="
        bg-transparent
        text-white
        font-semibold
        py-2
        px-2
        border-transparent
      "
    >
      Examples</button
    >|
    <button
      class="
        bg-transparent bg-blue-500
        text-white
        font-semibold
        py-2
        px-2
        border-transparent
      "
      (click)="onSigin()"
    >
      Sign In
    </button>
  </div>
  <section>
    <img src="/assets/images/weather.png" alt="" style="max-width: 100%" />
    <article>
      <p class="content-1 text-gray-50 font-extrabold brightness-150">
        Weather is more than just a fancy icon and the high temperature.
      </p>
      <p class="content-2 text-gray-100 overflow-ellipsis">
        With Weather table, you can see a visual overview of the day's
        weather,hour-by-hour.And through custom analysis of historical weather
        data, you can see predictive temperatures and conditions for almost any
        location, any time of the year.
      </p>
    </article>
  </section>
</div>
